# IntelliJ IDEA
.idea/
*.iml

# Maven e compilação
# /target/

# VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos temporários
*.log
*.tmp
*.swp

# Ignorar backups automáticos
*~
*.bak


# *.jar


# /jre/


# /imagens/

# Banco de dados SQLite local
# estoque.db
